# torch==1.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
# torchvision==0.6.0+cpu
# install instructions from:  https://pytorch.org/
# pip install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchsummary==1.5.1
pillow==8.1.1
pandas==1.0.5
matplotlib==3.3.0
numpy==1.19.0
seaborn==0.10.1
slackclient==2.7.3
wget==3.2           # download source data from python only
jupyter==1.0.0
